<div *ngIf="hero">
    <h2>{{hero.name}} details!</h2>
    <div>
        <label>Id: </label>{{hero.id}}
    </div>
    <div>
        <label>Name: </label>
        <input [(ngModel)]="hero.name" placeholder="Hero Name">
    </div>
    <button (click)="goBack()">Back</button>

</div>