

  <div class="cover" style="background-image: url(images/cover3.jpg)"></div>

  <div class="overlay bg-primary"></div>

  <div class="center-wrapper">
    <div class="center-content">
      <div class="row no-m">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <section class="panel bg-white no-b">
            <ul class="switcher-dash-action">
              <li class="active"><a href="#" class="selected">Sign in</a>
              </li>
              <li><a href="signup.html" class="">New account</a>
              </li>
            </ul>
            <div class="p15">
              <form role="form" action="index.html">
                <input type="text" class="form-control input-lg mb25" placeholder="Username" autofocus>
                <input type="password" class="form-control input-lg mb25" placeholder="Password">
                <div class="show">
                  <div class="pull-right">
                    <a href="forgot.html">Forgot password?</a>
                  </div>
                  <label class="checkbox">
                    <input type="checkbox" value="remember-me">Remember me
                  </label>
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Sign in</button>
              </form>
            </div>
          </section>
          <p class="text-center">
            Copyright &copy;
            <span id="year" class="mr5">2016</span>
            <span>mconnIT ltd.</span>
          </p>
        </div>
      </div>

    </div>
  </div>

  <nav>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  </nav>
  <router-outlet></router-outlet>